In [37]:
import pandas as pd

df = pd.read_csv('csvs/stock.csv')

In [41]:
df['date'].values
df['date'].values[0]

'20/09/2023'

In [47]:
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')
df[(df['date'] >= '2023-09-20') & (df['date'] <= '2023-09-22')]

   code  quantity       date      hour
0   120        20 2023-09-20  00:04:08
1   120        20 2023-09-21  00:04:08
2   120        20 2023-09-22  00:04:08

In [13]:
import pandas as pd


df = pd.read_csv('csvs/products.csv')

In [16]:
df[df['stock'] < df['quantity']]

  code       name description  quantity  price  stock        date      hour
6   99  Kitkatttt   Chocolate        80      3     50  25/09/2023  20:48:23