In [37]:
import pandas as pd


# read withouth index or header
df = pd.read_csv('csvs/stock.csv')

In [41]:
# List every date value inside df
df['date'].values
# get one and use it to see the format
df['date'].values[0]

'20/09/2023'

In [47]:
# its a string in format dd/mm/yyyy. So now get stock with date between 20/09/2023 and 22/09/2024
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')
# now get stock with date between 20/09/2023 and 22/09/2024
df[(df['date'] >= '2023-09-20') & (df['date'] <= '2023-09-22')]

   code  quantity       date      hour
0   120        20 2023-09-20  00:04:08
1   120        20 2023-09-21  00:04:08
2   120        20 2023-09-22  00:04:08